.Experience {
  padding: 10px 0;
  font-size: 13.5px;
}

.Experience h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.Experience p {
  color: #999;
}

.vertical-timeline-element-title {
  font-family: "Open Sans", sans-serif;
}

.vertical-timeline-element-subtitle {
  font-family: "Open Sans", sans-serif;
}