#githubContainer {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

#githubContainer h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#githubContainer p {
  color: #999;
}

#repos-table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 90%;
  margin: auto;
}

#repos-table td, #repos-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#repos-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#repos-table thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1b7eff;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#repos-table thead .repo {
  width: 200px;
}