#privacyPolicy {
    padding: 10px 0;
}

#privacyPolicy h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

#privacyPolicy h2 {
	font-family: "Open Sans", sans-serif;
	margin-left: 10px;
}

#privacyPolicy p {
	color: #999;
	margin-left: 10px;
	margin-right: 10px;
}