.PrivacyPolicy {
    padding: 10px 0;
}

.PrivacyPolicy h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

.PrivacyPolicy h2 {
    font-family: "Open Sans", sans-serif;
}

.PrivacyPolicy p {
    color: #999;
}