.VRPacmac {
    padding: 10px 0;
}

.VRPacmac h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

.VRPacmac h2 {
    font-family: "Open Sans", sans-serif;
}

.VRPacmac p {
    color: #999;
}